nav{
    background-color: #2db5c4;
}

.carousel-caption{
    margin-bottom: 100px;
}

.row{
    width: 95%;
}

.conteudo{
    text-align: center;
    margin-top: 20px;

}

.card{
    margin: 50px;
}